@model TaskModel

@{
    ViewData["Title"] = "Добавить задачу";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"] </h2>
</div>

<form method="post" asp-controller="Users" asp-action="Check">
    <div class="form-group row">
        <label asp-for="Subject" class="col-1 col-form-label"></label>
        <div class="col-11">
            <input asp-for="Subject" />
            <span asp-validation-for="Subject"></span>
        </div>
    </div>

    <div>
        <label asp-for="ContractorId" class="col-1 "></label>
        <div class="col-11">
            <select name="ContractorId">
                @{
                    foreach (var contractor in Model.Contractors)
                    {
                        <option value="@contractor.id"> @contractor.name </option>

                    }
                }
            </select>
        </div>
     </div>

        <div class="form-group row">
            <label asp-for="Description" class="col-1"></label>
            <div class="col-11">
                <textarea cols="50" rows="10" name="Description" value=""></textarea>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">отправить</button>
</form>
