@using HomeWorkWithUsers.Data.Domain
@model User
@{
    ViewData["Title"] = "Редактировать пользователя";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"] </h2>
</div>

<form method="post" asp-controller="Users" asp-action="Index">
    <div class="form-group row">
        <label asp-for="Name" class="col-1 col-form-label"></label>
        <div class="col-11">
            <input asp-for="Name" value="@Model.Name"/>
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SurName" class="col-1 col-form-label"></label>
        <div class="col-11">
            <input asp-for="SurName" />
            <span asp-validation-for="SurName"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-1 col-form-label"></label>
        <div class="col-11">
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Отправить" />
</form>